HF_TOKEN=your_huggingface_token

GCP_BUCKET_NAME=your-existing-gcs-bucket
GCP_RUN_NAME=indicvoices_hindi_test

DATASET_NAME=ai4bharat/IndicVoices
DATASET_CONFIG=hindi
DATASET_SPLIT=valid

AUDIO_FORMAT=wav